.grid_2{
    margin: 50px 10vw;
    width: 80vw;
    .f_center{
        .article_blog{
            position: relative;
            width: 100%;
            box-shadow: 0 10px 20px 0 rgba(221,221,221,.3);
            margin-bottom: 50px;
            .blog_item_date{
                display: block;
                padding: 1rem;
                background-color: #00d089;
                font-size: 18px;
                color: white;
                width: 3rem;
                text-align: center;
                position: absolute;
                transform: translate(50%,-50%);
                border-radius: 5px;
                span{
                    display: block;
                    font-size: 30px;
                }

            }
            img{
                width: 100%;
            }
            h1{
                padding: 20px 20px 10px 20px;
                font-size: 2rem;
                margin-bottom: 0px;
            }
            p{
                padding: 0 20px;
                font-weight: 100;
                color: #aaaaaa;
            }
            .footer_ar_blog{
                padding: 0 20px;
                display: flex;
                flex-direction: row;
                .footer_ar{
                    padding-right: 5px;
                    border-right: 1px solid black;
                    margin-right: 5px;
                    font-weight: 500;
                    color: #aaaaaa;
                }
            }
        }
        .btn_change{
            text-align: center;
        }
    }
    .grid_l{
        .grid_search{
            padding: 5% 10%;
            text-align: center;
            .input_search{
                position: relative;
                input{
                    display: block;
                    width: 97%;
                    padding: 1%;
                }
                i{
                    position: absolute;
                    top: 25%;
                    right: 1%;
                }
            }   
        }
        .category{
            padding: 10px 10%;
            .list_cat{
                padding: 10px 0;
                .cat_item{
                    border-bottom: 0.5px solid #f0e9ff;
                    a{
                        display: inline-block;
                        color: #aaaaaa;
                    }
                    p{
                        display: inline-block;
                        color: #aaaaaa;
                    }
                }
            }
        }
        .recent_post{
            .ar_recent{
                display: flex;
                flex-direction: row;
                margin: 10px 0;
                align-items: center;
                a{
                    color: black;
                    h3{
                        margin: 5px 0;
                    }
                }   
                p{
                    margin: 5px 0;
                }
            }
        }
        .tag_cloud{
            .list_tag{
                padding-left: 0px;
                .tag_item{
                    padding: 3px 8px;
                    display: inline-block;
                    background-color: #ffffff;
                    font-size: 14px;
                    margin: 1px;
                    a{
                        color: #aaaaaa;
                    }
                }
            }
        }
        .instagram_feeds{
            .content_instagram{
                display: grid;
                grid-template-columns: 30% 30% 30%;
            }
        }
        .newletter{
            .input_search{
                text-align: center;
                input{
                    display: block;
                    width: 97%;
                    padding: 1%;
                }
            }
        }
    }
}
.btn_search{
    border: 1px solid #00d089;
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #00d089;
    color: white;
}
.bg_gray{
    background-color: #dddddd;
    margin: 50px 0;
    padding: 5% 10%;
}

.header_grid_l{
    border-bottom: 0.5px solid #f0e9ff;
}

.btn_V{
    text-align: center;
    padding: 5px 8px;
    border: 1px solid #000;
    background-color: white;
}

@media only screen and (min-width:1000px){
    .grid_2{
        display: grid;
        grid-template-columns: 60% 30%;
        grid-column-gap: 10%;
    }
}