.iframe_map{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    iframe{
        width: 80vw;
    }
}
.touch{
    padding: 20px 10vw;
    .contact_touch{
        display: flex;
        flex-direction: row;
        .form_class{
            width: 50vw;
            textarea{
                width: 95%;
                height: 150px;
            }
            input{
                margin-top: 20px; 
                display: inline;
                width: 45%;
            }
            .last_form{
                width: 95% !important;
            }
            .form_control{
                border: 1px solid #f0e9ff;
                border-radius: 5px;
                padding: 10px;
            }
            a{
                display: block;
                margin: 20px 0;
                padding: 20px 40px;
                border: 1px solid #00d089;
                width: 15%;
                color: white;
                background-color: #00d089;
                text-transform: capitalize;
            }
        }
        .contact_infor{
            .media_body{
                font-size: 14px;
                display: flex;
                flex-direction: row;
                margin: 10px;
                justify-content: flex-start;
                align-items: center;
                i{
                    font-size: 50px;
                }
                .media_infor{
                    margin-left:25px; 
                    h3{
                        margin: 0px;
                    }
                    p{
                        margin: 0px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 860px){
    .contact_touch{
        display: flex;
        flex-direction: column !important;
    }
}