.btn {
  padding: 10px 20px;
  margin: 10px; }

p {
  color: #aaa;
  font-weight: 100; }

main .text_element {
  margin: 50px 5vw;
  padding: 50px 0;
  border-bottom: 1px solid #f9f9ff; }
  main .text_element h1 {
    text-transform: capitalize; }
main .sample_btn {
  margin: 50px 5vw;
  padding: 50px 0;
  border-bottom: 1px solid #f9f9ff; }
  main .sample_btn h1 {
    text-transform: capitalize; }
  main .sample_btn .button-group-radius .btn {
    border-radius: 5px; }
  main .sample_btn .button-group-circle .btn {
    border-radius: 50px; }
main .aligned {
  margin: 50px 5vw; }
  main .aligned .left_aligned {
    text-align: left;
    padding: 50px 0;
    border-bottom: 1px solid #f9f9ff; }
    main .aligned .left_aligned img {
      margin: 10px;
      float: left; }
    main .aligned .left_aligned p {
      margin: 10px; }
  main .aligned .right_aligned {
    text-align: right;
    padding: 50px 0;
    border-bottom: 1px solid #f9f9ff; }
    main .aligned .right_aligned img {
      margin: 10px;
      float: right; }
    main .aligned .right_aligned p {
      margin: 10px; }
main .definition {
  margin: 50px 5vw;
  padding: 50px 0;
  border-bottom: 1px solid #f9f9ff; }
  main .definition h1 {
    font-size: 30px; }
main .block_quotes {
  margin: 50px 5vw;
  padding: 50px 0;
  border-bottom: 1px solid #f9f9ff; }
  main .block_quotes .quotes {
    background-color: #f9f9ff;
    padding: 10px;
    border-left: 3px solid #00d089; }

.button-group {
  margin: 30px; }

.bg_primary {
  color: white;
  background-color: #00d089;
  border: 1px solid #00d089; }
  .bg_primary:hover {
    color: #00d089;
    border: 1px solid #00d089;
    background-color: #fff; }

.primary {
  color: #00d089;
  border: 1px solid #00d089; }
  .primary:hover {
    color: white;
    background-color: #00d089;
    border: 1px solid #00d089; }

.bg_success {
  color: white;
  background-color: #4cd3e3;
  border: 1px solid #4cd3e3; }
  .bg_success:hover {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background-color: #fff; }

.success {
  color: #4cd3e3;
  border: 1px solid #4cd3e3; }
  .success:hover {
    color: white;
    background-color: #4cd3e3;
    border: 1px solid #4cd3e3; }

.bg_info {
  color: white;
  background-color: #38a4ff;
  border: 1px solid #38a4ff; }
  .bg_info:hover {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background-color: #fff; }

.info {
  color: #38a4ff;
  border: 1px solid #38a4ff; }
  .info:hover {
    color: white;
    background-color: #38a4ff;
    border: 1px solid #38a4ff; }

.bg_warning {
  color: white;
  background-color: #f4e700;
  border: 1px solid #f4e700; }
  .bg_warning:hover {
    color: #f4e700;
    border: 1px solid #f4e700;
    background-color: #fff; }

.warning {
  color: #f4e700;
  border: 1px solid #f4e700; }
  .warning:hover {
    color: white;
    background-color: #f4e700;
    border: 1px solid #f4e700; }

.bg_danger {
  color: white;
  background-color: #f44a40;
  border: 1px solid #f44a40; }
  .bg_danger:hover {
    color: #f44a40;
    border: 1px solid #f44a40;
    background-color: #fff; }

.danger {
  color: #f44a40;
  border: 1px solid #f44a40; }
  .danger:hover {
    color: white;
    background-color: #f44a40;
    border: 1px solid #f44a40; }

.bg_default {
  color: white;
  color: #415094;
  background-color: #f9f9ff;
  border: 1px solid #f9f9ff; }
  .bg_default:hover {
    border: 1px solid #f9f9ff;
    background: #fff; }

.default {
  border: 1px solid #f9f9ff;
  background: #fff; }
  .default:hover {
    background-color: #f9f9ff;
    border: 1px solid #f9f9ff; }

.bg_link {
  color: #415094;
  background-color: #f9f9ff;
  border: 1px solid #f9f9ff;
  text-decoration: underline; }
  .bg_link:hover {
    background-color: #fff;
    border: 1px solid #f9f9ff; }

.link {
  color: #415094;
  background-color: #fff;
  border: 1px solid #f9f9ff;
  text-decoration: underline; }
  .link:hover {
    background-color: #f9f9ff;
    border: 1px solid #f9f9ff; }

.bg_disable {
  color: blue;
  background-color: #f9f9ff;
  border: 1px solid #f9f9ff;
  cursor: not-allowed; }

.disable {
  color: blue;
  background-color: #f9f9ff;
  border: 1px solid #f9f9ff;
  cursor: not-allowed; }

@media only screen and (min-width: 650px) {
  .definition .grid_3 {
    display: grid;
    grid-template-columns: 28vw 28vw 28vw;
    grid-column-gap: 2vw; } }

/*# sourceMappingURL=style_element.css.map */
